*{
    margin: 0;
    padding: 0;
    border-radius: 8px;
    font-size: 25px;
}

body{background-color: thistle;}

#container {
    width: 300px;
    height: 500px;
    padding: 16px;
    display: flex;
    margin: auto;
    margin-top: 32px;
    border-radius: 16px;
    flex-direction: column;
    border: 2px solid black;
    background-color:aqua;
    justify-content: space-between;
}

#num {
    height: 300px;
    flex-wrap: wrap;
}

#num>button{width: 62.5px;}

#reset, #num{
    display:flex; 
    gap: 16px;
 }

#reset>button{
    padding: 12px;
    flex: 1;
}

#display{
    height: 100px;
    width: 290px; 
    padding-right: 10px;
    border: black solid 2px;
    text-align: end;
    font-size: 40px;
}

.display{height: 50px;}
#clear{ background-color: blueviolet;}
#delete{ background-color: red;}
.operator,.equal{background-color: aquamarine;}
button, #display {background: white;}